
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 10 auto;
}

nav{
  height: 80px;
  font-family: 'Josefin Sans', sans-serif;
  box-shadow: 1px 8px 10px #4e342e;
}
.marca{
  font-size: 20px;
}
.nav-wrapper{
  padding-top: 15px;
  padding-left: 40px;
}
#logo{
  width: 50px;
  height: 45px;
}
.cuadrito{
  width: 150px;
}
.menu{
  padding-right: 10%;
}

.conte-fut{
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.button-collapse{
  position: relative;
  left: 80%;
}
.active{
  background-color: #80cbc4;
}
.card-back{
 background-color: rgba(237, 248, 247, 0.4);
}
.imagen-fondo{
  font-family: 'Patua One', cursive;
}

.renglon{
  margin-top: 1px;
  margin-bottom: 1px;
}
.h{
  font-size: 80px;
}
.linea{
  background-color: #006064;
  width: 100%;
  height: 1px;
  border-radius: 200px;
  box-shadow: 5px 3px 8px #4e342e;
}
.pie{
  width: 100%;
  height: 2%;
  background-color: gray;
  position: relative;
  top: 80%;
}

.letra{
  font-family: 'Josefin Sans', sans-serif;
}
.letrac{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
}
.letra-info{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
}
.tarjeta-info{
  box-shadow: 1px 8px 10px #a1887f;
  background-color: rgba(128, 203, 196,.6);
}


.animacion{
  width: 120px;
  height: 80px;
  background: #4db6ac;
  animation-name: animacion;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
.animacion:hover{
  box-shadow: 5px 5px 5px #bcaaa4;
}
@keyframes animacion {
/*from {background-color: blue;}
to {background-color:pink;}*/
10% {background-color: #a1887f;}
70% {background-color: #4db6ac; width: 200px;}
}

header, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }



    @media (max-width: 800px){
      .slo{
        font-size: 34px;
      }
    }
